In [145]:
#Task_1
import pandas as pd
datacus = pd.read_csv(r'C:\Users\hp\Downloads\customers.csv')

#First few rows
print(datacus.head(5))
#rows and columns
print(datacus.shape)

#finding missing values
print(datacus.isna().sum())
print('There is no missing value')

   CustomerID  Age         City
0           1   22     New York
1           2   23  Los Angeles
2           3   24      Chicago
3           4   25      Houston
4           5   26      Phoenix
(100, 3)
CustomerID    0
Age           0
City          0
dtype: int64
There is no missing value

In [101]:
datasal = pd.read_csv(r'C:\Users\hp\Downloads\sales.csv')
#First few rows
print(datasal.head)
#rows and columns
print(datasal.shape)
#missing values count
print(datasal.isna().sum())
print('There is no missing value')

<bound method NDFrame.head of      SaleID  CustomerID     Product  Amount
0       101           1      Laptop     200
1       102           2  Smartphone     500
2       103           3      Tablet     800
3       104           4  Headphones    1100
4       105           5     Monitor    1400
..      ...         ...         ...     ...
395     496          96      Laptop     200
396     497          97  Smartphone     500
397     498          98      Tablet     800
398     499          99  Headphones    1100
399     500         100     Monitor    1400

[400 rows x 4 columns]>
(400, 4)
SaleID        0
CustomerID    0
Product       0
Amount        0
dtype: int64
There is no missing value

In [103]:
#Task_2
data_dict = datacus.to_dict(orient='records') 

# Filter customers from a specific city using the dictionary
city_to_filter = "New York"
filtered_customers_dict = [customer for customer in data_dict if customer['City'] == city_to_filter]

print("Filtered customers using dictionary:")
print(filtered_customers_dict)

Filtered customers using dictionary:
[{'CustomerID': 1, 'Age': 22, 'City': 'New York'}, {'CustomerID': 6, 'Age': 27, 'City': 'New York'}, {'CustomerID': 11, 'Age': 32, 'City': 'New York'}, {'CustomerID': 16, 'Age': 37, 'City': 'New York'}, {'CustomerID': 21, 'Age': 42, 'City': 'New York'}, {'CustomerID': 26, 'Age': 47, 'City': 'New York'}, {'CustomerID': 31, 'Age': 22, 'City': 'New York'}, {'CustomerID': 36, 'Age': 27, 'City': 'New York'}, {'CustomerID': 41, 'Age': 32, 'City': 'New York'}, {'CustomerID': 46, 'Age': 37, 'City': 'New York'}, {'CustomerID': 51, 'Age': 42, 'City': 'New York'}, {'CustomerID': 56, 'Age': 47, 'City': 'New York'}, {'CustomerID': 61, 'Age': 22, 'City': 'New York'}, {'CustomerID': 66, 'Age': 27, 'City': 'New York'}, {'CustomerID': 71, 'Age': 32, 'City': 'New York'}, {'CustomerID': 76, 'Age': 37, 'City': 'New York'}, {'CustomerID': 81, 'Age': 42, 'City': 'New York'}, {'CustomerID': 86, 'Age': 47, 'City': 'New York'}, {'CustomerID': 91, 'Age': 22, 'City': 'New York'}, {'CustomerID': 96, 'Age': 27, 'City': 'New York'}]

In [105]:
# Filter customers from a specific city using DataFrame
filtered_customers_df = datacus[datacus['City'] == city_to_filter]

print("\nFiltered customers using DataFrame:")
print(filtered_customers_df)

Filtered customers using DataFrame:
    CustomerID  Age      City
0            1   22  New York
5            6   27  New York
10          11   32  New York
15          16   37  New York
20          21   42  New York
25          26   47  New York
30          31   22  New York
35          36   27  New York
40          41   32  New York
45          46   37  New York
50          51   42  New York
55          56   47  New York
60          61   22  New York
65          66   27  New York
70          71   32  New York
75          76   37  New York
80          81   42  New York
85          86   47  New York
90          91   22  New York
95          96   27  New York

In [109]:
import time

start_dict = time.time()
filtered_customers_dict = [customer for customer in data_dict if customer['City'] == city_to_filter]
end_dict = time.time()

# Measure time for DataFrame filtering
start_df = time.time()
filtered_customers_df = datacus[datacus['City'] == city_to_filter]
end_df = time.time()

# Print results
print("\nTime taken using dictionary filtering:", end_dict - start_dict)
print("Time taken using DataFrame filtering:", end_df - start_df)

Time taken using dictionary filtering: 0.0
Time taken using DataFrame filtering: 0.0019979476928710938

In [115]:
#Task_3

# Step 1: Identify duplicate rows
print("Duplicate rows:")
duplicates = datacus[datacus.duplicated()]
print(duplicates)

# Step 2: Count duplicate rows
duplicate_count = datacus.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_count)

# Step 3: Remove duplicate rows
df_cleaned = datacus.drop_duplicates()
print("\nData after removing duplicates:")
print(df_cleaned)

# Step 4: Verify no duplicates remain
remaining_duplicates = df_cleaned.duplicated().sum()
print("\nNumber of duplicate rows after cleaning:", remaining_duplicates)

Duplicate rows:
Empty DataFrame
Columns: [CustomerID, Age, City]
Index: []

Number of duplicate rows: 0

Data after removing duplicates:
    CustomerID  Age         City
0            1   22     New York
1            2   23  Los Angeles
2            3   24      Chicago
3            4   25      Houston
4            5   26      Phoenix
..         ...  ...          ...
95          96   27     New York
96          97   28  Los Angeles
97          98   29      Chicago
98          99   30      Houston
99         100   31      Phoenix

[100 rows x 3 columns]

Number of duplicate rows after cleaning: 0

In [119]:
# Step 1: Identify duplicate rows
print("Duplicate rows:")
duplicates = datasal[datasal.duplicated()]
print(duplicates)

# Step 2: Count duplicate rows
duplicate_count = datasal.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_count)

# Step 3: Remove duplicate rows
df_cleaned = datasal.drop_duplicates()
print("\nData after removing duplicates:")
print(df_cleaned)

# Step 4: Verify no duplicates remain
remaining_duplicates = df_cleaned.duplicated().sum()
print("\nNumber of duplicate rows after cleaning:", remaining_duplicates)

Duplicate rows:
Empty DataFrame
Columns: [SaleID, CustomerID, Product, Amount]
Index: []

Number of duplicate rows: 0

Data after removing duplicates:
     SaleID  CustomerID     Product  Amount
0       101           1      Laptop     200
1       102           2  Smartphone     500
2       103           3      Tablet     800
3       104           4  Headphones    1100
4       105           5     Monitor    1400
..      ...         ...         ...     ...
395     496          96      Laptop     200
396     497          97  Smartphone     500
397     498          98      Tablet     800
398     499          99  Headphones    1100
399     500         100     Monitor    1400

[400 rows x 4 columns]

Number of duplicate rows after cleaning: 0

In [123]:
#Task_4


# Step 1: Add a new column for the discounted amount
datasal['Discounted_Amount'] = datasal['Amount'] * 0.9  # Apply 10% discount

# Step 2: Group data by Product and calculate total sales
grouped_sales = datasal.groupby('Product')['Discounted_Amount'].sum().reset_index()

# Rename the column for better clarity
grouped_sales.rename(columns={'Discounted_Amount': 'Total_Sales'}, inplace=True)

# Step 3: Present results
print("Sales Data with Discounted Amount:")
print(datasal)

print("\nTotal Sales by Product:")
print(grouped_sales)

Sales Data with Discounted Amount:
     SaleID  CustomerID     Product  Amount  Discounted_Amount
0       101           1      Laptop     200              180.0
1       102           2  Smartphone     500              450.0
2       103           3      Tablet     800              720.0
3       104           4  Headphones    1100              990.0
4       105           5     Monitor    1400             1260.0
..      ...         ...         ...     ...                ...
395     496          96      Laptop     200              180.0
396     497          97  Smartphone     500              450.0
397     498          98      Tablet     800              720.0
398     499          99  Headphones    1100              990.0
399     500         100     Monitor    1400             1260.0

[400 rows x 5 columns]

Total Sales by Product:
      Product  Total_Sales
0  Headphones      79200.0
1      Laptop      14400.0
2     Monitor     100800.0
3  Smartphone      36000.0
4      Tablet      57600.0

In [127]:
#Task_5

# Step 1: Filter customers whose age is between 25 and 35
filtered_df = datacus[(datacus['Age'] >= 25) & (datacus['Age'] <= 35)]

# Step 2: Group the data by City and count the number of customers in each city
city_counts = filtered_df.groupby('City').size().reset_index(name='Customer_Count')

# Step 3: Save the filtered data in a new structure (DataFrame)
print("Filtered Customers (Age 25 to 35):")
print(filtered_df)

print("\nCustomer Count by City (Age 25 to 35):")
print(city_counts)

Filtered Customers (Age 25 to 35):
    CustomerID  Age         City
3            4   25      Houston
4            5   26      Phoenix
5            6   27     New York
6            7   28  Los Angeles
7            8   29      Chicago
8            9   30      Houston
9           10   31      Phoenix
10          11   32     New York
11          12   33  Los Angeles
12          13   34      Chicago
13          14   35      Houston
33          34   25      Houston
34          35   26      Phoenix
35          36   27     New York
36          37   28  Los Angeles
37          38   29      Chicago
38          39   30      Houston
39          40   31      Phoenix
40          41   32     New York
41          42   33  Los Angeles
42          43   34      Chicago
43          44   35      Houston
63          64   25      Houston
64          65   26      Phoenix
65          66   27     New York
66          67   28  Los Angeles
67          68   29      Chicago
68          69   30      Houston
69          70   31      Phoenix
70          71   32     New York
71          72   33  Los Angeles
72          73   34      Chicago
73          74   35      Houston
93          94   25      Houston
94          95   26      Phoenix
95          96   27     New York
96          97   28  Los Angeles
97          98   29      Chicago
98          99   30      Houston
99         100   31      Phoenix

Customer Count by City (Age 25 to 35):
          City  Customer_Count
0      Chicago               7
1      Houston              11
2  Los Angeles               7
3     New York               7
4      Phoenix               8

In [141]:
#Task_6

# Step 1: Merge the datasets on CustomerID
merged_df = pd.merge(datasal, datacus, on='CustomerID')

# Step 2: Identify the city that generated the highest total sales

city_sales = merged_df.groupby('City')['Discounted_Amount'].sum().reset_index()

# Find the city with the highest total sales
highest_sales_city = city_sales.loc[city_sales['Discounted_Amount'].idxmax()]

# Step 3: Find the product with the highest total sales

product_sales = merged_df.groupby('Product')['Discounted_Amount'].sum().reset_index()

# Find the product with the highest total sales
top_product = product_sales.loc[product_sales['Discounted_Amount'].idxmax()]

# Results
print(f"The city with the highest total sales is {highest_sales_city['City']} with total sales of {highest_sales_city['Discounted_Amount']:.2f}")
print(f"The product with the highest total sales is {top_product['Product']} with total sales of {top_product['Discounted_Amount']:.2f}")

The city with the highest total sales is Phoenix with total sales of 100800.00
The product with the highest total sales is Monitor with total sales of 100800.00

In [143]:
#Task_7


# Step 1: Merge the datasets on CustomerID
merged_df = pd.merge(datasal, datacus, on='CustomerID')

# Step 2: Display unique values in the 'City' and 'Product' columns
unique_cities = merged_df['City'].unique()
unique_products = merged_df['Product'].unique()

# Step 3: Calculate the mean and median of the 'Amount' column
mean_amount = merged_df['Amount'].mean()
median_amount = merged_df['Amount'].median()

# Results
print("Unique Cities:", unique_cities)
print("Unique Products:", unique_products)
print("\nMean of Amount:", mean_amount)
print("Median of Amount:", median_amount)

Unique Cities: ['New York' 'Los Angeles' 'Chicago' 'Houston' 'Phoenix']
Unique Products: ['Laptop' 'Smartphone' 'Tablet' 'Headphones' 'Monitor']

Mean of Amount: 800.0
Median of Amount: 800.0